<footer class="footer">
    <!-- <div fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="center center" class="border-bottom-mute subscribe-block theme-container">
        <div fxFlex="100" fxFlex.gt-sm="40" fxLayout="column" fxLayoutAlign="center center"> 
            <h1 class="fw-500">Subscribe our Newsletter</h1>
            <h3 class="fw-300 secondary-color">Stay up to date with our latest new and products</h3>
        </div>
        <form method="get" class="subscribe-search-form" fxLayout="row" fxFlex="100" fxFlex.gt-sm="42.4" ngClass.sm="mt-2" ngClass.xs="mt-2">
            <input type="text" placeholder="Your email address..." fxFlex>
            <button mat-raised-button color="accent" (click)="subscribe()" type="button" class="mat-elevation-z0 text-muted">Subscribe</button>
        </form>
    </div> -->
    <div fxLayout="row wrap" fxLayoutAlign="space-between" class="py-3 border-bottom-mute theme-container">        
        <div fxFlex.gt-xs="60" fxFlex.xs="100" ngClass.gt-sm="display"> 
            <p ngClass.gt-sm="space-out" class="mt-1"><a routerLink="/terms" class="link secondary-color topbeta-text">Terms of service</a></p>
            <p ngClass.gt-sm="space-out" class="mt-1"><a routerLink="/privacy" class="link secondary-color topbeta-text">Privacy policy</a></p>
            <p ngClass.gt-sm="space-out" class="mt-1"><a routerLink="/cookie" class="link secondary-color topbeta-text">Cookie policy</a></p>
            <p ngClass.gt-sm="space-out" class="mt-1"><a routerLink="/help" class="link secondary-color topbeta-text">Help</a></p>
            <p ngClass.gt-sm="space-out" class="mt-1"><a href="mailto:info@topbeta.app?Subject=Top Up Support%20"
                rel="noopener noreferrer" target="_top"
                class="link secondary-color topbeta-text">Contact us</a></p>
        </div>
        <div fxFlex.gt-xs="40" fxFlex.xs="100" class="contact-information" ngClass.gt-sm="display" ngClass.lt-md="block-div" fxLayoutAlign="end"> 
            <!-- <h6 class="col-title">CONTACT INFORMATION</h6>             -->
            <!-- <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                <mat-icon>call</mat-icon>
                <span>08168767777</span>
            </p> -->
            <p fxLayout="row" fxLayoutAlign="start center" class="mt-1 secondary-color">
                <mat-icon>mail_outline</mat-icon>
                <a class="link secondary-color" href="mailto:info@topbeta.app?Subject=Top Up Support%20" rel="noopener noreferrer" target="_top">info@topbeta.app</a>
            </p>
            <!-- <p> -->
                <span class="mt-1">
                    <a target="_blank" href="https://twitter.com/TopbetaI?s=09">
                    <img class="social-media mouse-pointer" src="assets/images/others/twitter.svg">
                    </a>
                    <a target="_blank" href="https://www.instagram.com/invites/contact/?i=7darryfe6g3x&utm_content=k8alihb">
                        <img class="social-media mouse-pointer" src="assets/images/others/instagram.svg">
                    </a>
                    <a target="_blank" href="">
                    <img class="social-media mouse-pointer" src="assets/images/others/whatsapp.svg">
                    </a>
                    <a target="_blank" href="https://www.facebook.com/topbeta.app.3">
                    <img class="social-media mouse-pointer" src="assets/images/others/facebook.svg">
                    </a>
                </span>
            <!-- </p> -->
        </div>
    </div>
    <mat-divider></mat-divider>
    <!-- <span class="service">Topbeta enables transfer of airtime, digital recharge, mobile money, digital goods and services,
        through our innovative web and mobile applications.
        Our solutions digitally power the future of cross border 
        and digital mobile payments to emerging markets</span>
    <mat-divider></mat-divider> -->

    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="copyright secondary-color theme-container">
        <p ngClass.xs="mt-1">Copyright © 2020 Topbeta Inc All Rights Reserved</p>
    </div>
</footer>