<div ngClass.gt-sm="container">
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="50" class="p-2 primary-background auth-div">
            <table id="wrapper">
                <tr>
                  <td><img src="assets/images/others/auth-image.png" alt="" /></td>
                </tr>
                <tr class="image-text">
                    <p class="auth-welcome">Welcome to Topbeta</p>
                    <span class="auth-intro">A platform where you buy airtime and data for yourself and others around the world</span>
                </tr>
              </table>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="p-2 auth-form" ngClass.gt-sm="auth-form-large">
            <table id="wrapper">
                <tr>
                <td>
            <h2 class="tertiary-color form-type text-center">CHANGE PASSWORD</h2>
            <form [formGroup]="changePasswordForm">

                <mat-label>Email Address</mat-label>
                <mat-form-field appearance="outline" class="w-100 mt-2">
                    <input matInput placeholder="Email Address" formControlName="emailAddress" required>
                    <mat-error *ngIf="changePasswordForm.controls.emailAddress.errors?.required">Email is required</mat-error>
                    <mat-error *ngIf="changePasswordForm.controls.emailAddress.hasError('invalidEmail')">Invalid email address</mat-error>
                </mat-form-field>
    
                <mat-label>New Password</mat-label>
    
                <mat-form-field appearance="outline" class="w-100 mt-1">
                    <input type="password" matInput [type]="hide1 ? 'password' : 'text'"
                    placeholder="New password" formControlName="password" required>
                    <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1"
                    (click)="$event.preventDefault()" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    <mat-error *ngIf="changePasswordForm.controls.password.hasError('minlength')">Password is too short, minimum of 4 characters</mat-error>
                    <mat-error *ngIf="changePasswordForm.controls.password.errors?.required">New password is required</mat-error>
                </mat-form-field>
                <mat-label>Confirm Password</mat-label>
                    <mat-form-field  appearance="outline" class="w-100 mt-1">
                        <input matInput [type]="hide2 ? 'password' : 'text'"
                        placeholder="Confirm Password" formControlName="confirmPassword" type="password" required>
                        <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2"
                        (click)="$event.preventDefault()"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.errors?.required">Confirm Password is required</mat-error>
                    <mat-error *ngIf="changePasswordForm.controls.confirmPassword.hasError('minlength')">Password is too short, minimum of 4 characters</mat-error>
                        <mat-error *ngIf="changePasswordForm.controls.confirmPassword.hasError('mismatchedPasswords')">Passwords do not match</mat-error>
                    </mat-form-field>
                <div class="text-center mt-2">
                    <button [disabled]="changePasswordForm.invalid" mat-raised-button class="primary-button form-button"
                    (click)="onSubmit()">Done
                    </button>
                </div>                  
            </form>
        </td>
        </tr>
        </table>
        </div>
    </div> 
</div>