.top-up-header {
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    padding: 10px 0;
}

.payment-icon {
    margin-top: -8px;
}

.top-up-text {
    font-weight: 600;
}

.close {
    margin-top: -10px;
    opacity: 1;
    box-shadow: none !important;
}

.top-up-item {
    border: 1px solid #E9E9E9;
box-sizing: border-box;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;
}
.text-size-class{
    font-size: 10px;
}