.auth{
    white-space: nowrap;
    padding: 7px 14px;
    font-weight: 500;    
}
  
//   .label {
//     text-align: center;
//     font-family: HelveticaNeue;
//     font-size: 12px;
//     color: #ffffff;
//     margin-top: 2px;
//     width: calc(100% - 18px);
//   }
  
.error-text-class{
    margin-bottom: 15px;
}