<div fxLayout="row wrap">
    <div fxFlex="100">
        <h5 class="text-center primary-color">Change Password</h5>
        <mat-divider class="mb-3"></mat-divider>

        <form [formGroup]="updatePasswordForm">
            <mat-label>Current Password</mat-label>

            <mat-form-field appearance="outline" class="w-100 mt-1">
                <input type="password" matInput [type]="hide ? 'password' : 'text'"
                placeholder="Current password" formControlName="password" required>
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide"
                (click)="$event.preventDefault()" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                <mat-error *ngIf="updatePasswordForm.controls.password.errors?.required">Password is required</mat-error>
                <mat-error *ngIf="updatePasswordForm.controls.password.hasError('minlength')">Password must be at least 4 characters long</mat-error>

            </mat-form-field>

            <mat-label>New Password</mat-label>

            <mat-form-field appearance="outline" class="w-100 mt-1">
                <input type="password" matInput [type]="hide1 ? 'password' : 'text'"
                placeholder="New password" formControlName="newPassword" required>
                <button type="button" mat-icon-button matSuffix (click)="hide1 = !hide1"
                (click)="$event.preventDefault()" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide1">
                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                <mat-error *ngIf="updatePasswordForm.controls.newPassword.errors?.required">New password is required</mat-error>
                <mat-error *ngIf="updatePasswordForm.controls.newPassword.hasError('minlength')">Password is too short, minimum of 4 characters</mat-error>
            </mat-form-field>
            <mat-label>Confirm Password</mat-label>
                <mat-form-field  appearance="outline" class="w-100 mt-1">
                    <input matInput [type]="hide2 ? 'password' : 'text'"
                    placeholder="Confirm Password" formControlName="confirmPassword" type="password" required>
                    <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2"
                    (click)="$event.preventDefault()"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    <mat-error *ngIf="updatePasswordForm.controls.confirmPassword.errors?.required">Confirm Password is required</mat-error>
                    <mat-error *ngIf="updatePasswordForm.controls.confirmPassword.hasError('mismatchedPasswords')">Passwords do not match</mat-error>
                <mat-error *ngIf="updatePasswordForm.controls.confirmPassword.hasError('minlength')">Password is too short, minimum of 4 characters</mat-error>
                </mat-form-field>
            <div class="text-center mt-2">
                <button [disabled]="updatePasswordForm.invalid" mat-raised-button class="primary-button form-button update-button"
                (click)="onSubmit()">Change
                </button>
            </div>                  
        </form>
    </div>
</div> 
