.mid-form {
    padding: 0 15px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #E6E7E8;
    border-radius: 5px;
    border: 1px solid #ffff;
    margin: 20px;
}

.remove{
    color: #f44336;
    font-weight: 600;
    margin-top: -8px;
}

.weight{
    font-weight: 600;
}
.error-text-class{
    margin-bottom: 15px;
}
.show-summury-class{
    padding: 30px;
}
.key-backspace-class{
    margin-top: -9px;   
}
.back-button-class{
 font-weight: unset !important;
}
.confirm-details-class{
    margin-top: 4rem;
}

.max-maount-class{
    color: #142850;
     margin-bottom: 15px;
}