.dialog-message{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.back-icon {
    margin-top: -2px;
}

.space-height{
    margin-top: 4rem;
}
.back-button-class{
    font-weight: unset !important;
}