
<div fxLayout="column" fxLayout.lt-md="column" fxLAyoutAlign="center center" class="banner-background">
  <img src="../../../../assets/images/others/about-us.png" style="width: 100%;" alt="working-Header">
</div>
<br><br>

  <div fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1rem">
  <div fxFlex="82%">
    <p class="tagline">Topbeta is your ideal global recharge and digital payment connection.</p>
  </div>
</div>

<div class="video-div">
    <iframe height="400" width="100%" src="https://www.youtube.com/embed/GGycrNdC0ws" frameborder="0"
      allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
<br><br>

  <div fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1rem">
    <div class="content-description grey-font" fxFlex="70%">
      <p>Today, technology has transformed the world into a small town.</p>
      <p>However, staying connected with your loved ones isn’t always easy. Topbeta was birthed out of the frustration 
          of connecting with families and love ones by creating a smart way to stay connected with your friends and family,
          wherever they are.</p>
           <p>At Topbeta, we provide a solution to bridge the gap between mobile phone users and their numerous airtime/top-up needs.
            Serving more than 5 billion users across the globe, Topbeta offers you the fastest and the most secure way to recharge
            and buy data for yourself and loved a matter of seconds.</p>
            <p>Topbeta lets you do just that.</p>
    </div>
  </div>
  <br>

  <div fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1rem">
    <div class="content-description background-grediant" fxFlex="70%">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center flex-end " fxLayoutAlign.lt-md="center center"
        fxLayoutGap="3rem"  class="more-about topbeta-text ">
        
        <div fxFlex="50%" fxLayout="row" fxFlexAlign="baseline">
        <p class="freechargeText">Experience the digital recharge solution without limitations that lets you connect at anytime 
            and anywhere locally and globally at your fingertips.</p>
        </div>
        
        <div fxFlex="50%" fxLayout="row" fxLayoutAlign="center">
         <img src="../../../../assets/images/others/freecharge.png" alt="" class="freechargeimg">
        </div>
    
    </div>
  </div>
  </div>
  <br>

  <div fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1rem">
    <div class="content-description grey-font" fxFlex="70%">
      <p>At Topbeta, our goal is to influence the future of cross border and digital mobile recharge and payments to emerging markets. </p>
      <p>This is why we have designed a mobile and web app that enables the transfer of airtime, mobile money, and digital goods and services,
           with convenience like never before. </p>
           <p>At Topbeta, we provide a solution to bridge the gap between mobile phone users and their numerous airtime/top-up needs.
            Serving more than 5 billion users across the globe, Topbeta offers you the fastest and the most secure way to recharge
            and buy data for yourself and loved a matter of seconds.</p>
            <p>We have broken down the recharge process into three simple steps. From your mobile or web app, enter the recipient's 
                phone number and the amount you would wish to credit them with, choose your preferred payment method and you’re done! </p>

                <p>Your Topup is processed and confirmed in seconds. Now, isn’t that a nice and easy way to make someone’s day just a little better? Sure, it is!</p>
    </div>
  </div>
  <br>
  <div fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1rem">
    <div class="content-description grey-font" fxFlex="70%">
      <p class="black-font">What's More?</p>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center flex-end " fxLayoutAlign.lt-md="center center"
fxLayoutGap="3rem"  class="more-about-topdata topbeta-text ">

<div fxFlex="25%" fxLayout="row" fxLayoutAlign="center">
  <div class="disc disc-1" >
    <div>
      <img src="../../../assets/images/carousel/world.png" alt="" class="icons-class">
      <p class="cred-number1">145+</p>
    </div>
  </div>
  <div class="about-text-class">Countries</div>
</div>

<div fxFlex="25%" fxLayout="row" fxLayoutAlign="center">
  <div class="disc disc-1" >
    <div>
     <img src="../../../assets/images/carousel/sim-card.png" alt=""  class="icons-class">
      <p class="cred-number1">700+</p>
    </div>
  </div>
  <div class="about-text-class">Operators</div>
</div>

<div fxFlex="25%" fxLayout="row" fxLayoutAlign="center">
  <div class="disc disc-1" >
    <div>
     <img src="../../../assets/images/carousel/sim-card.png" alt=""  class="icons-class">
      <p class="cred-number1">500+</p>
    </div>
  </div>
  <div class="about-text-class">Your Text</div>
</div>

<div fxFlex="25%" fxLayout="row" fxLayoutAlign="center">
  <div class="disc disc-1" >
    <div>
     <img src="../../../assets/images/carousel/sim-card.png" alt=""  class="icons-class">
      <p class="cred-number1">200+</p>
    </div>
  </div>
  <div class="about-text-class">Demo Text</div>
</div>
</div>

<br>

<div fxLayout fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="1rem">
    <div class="content-description grey-font" fxFlex="70%">
      <p>Now, you can experience the beauty of instant cross-border recharges while staying connected with your loved ones 
          wherever they are on the globe</p>
      
    </div>
  </div>